h1 {
  padding: 10px 0;
  margin: 0;
}

.col-large {
  width: 80%;
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.col-small {
  width: 20%;
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.col-title {
  text-align: center;
  height: 5vh;
}

.col-large>div {
  height: 90vh;
}

.buttonRow {
  padding: 0;
}

.col-small button {
  height: 5vh;
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}